#primeira{
    background-color: aqua;
}
#segunda{
    background-color: brown;
}
#maior{
    background-color: chocolate;
}
#azul{
    background-color: blue;
}
.col{
    padding: 1rem;
    background-color: cyan;
    border: 2px solid black;
    color: red;
}
#menu{
    background-color: khaki;
    color: aqua;
    font-weight: bolder;
}